{% macro carousel(images) %}
    <div class="swiper">
        <div class="swiper-wrapper" style="width: 75%">
            {% for image in images %}
                <div class="swiper-slide" style="    overflow: hidden;
        height: 700px;
       max-height: 700px;
       position: relative;">
                    <img class="swiper-lazy" style="display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;" src="{{ asset(pathArticleAttachment ~ image) }}" loading="lazy" alt="{{ image }}"/>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
{% endmacro %}


{% macro display_image(images) %}
    {% for image in images %}
        <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
            <img src="{{ asset(pathArticleAttachment ~ image) }}" class="img_nogallery w-25">
        </a>
    {% endfor %}
    <div id="my_modal" class="modal">
        <img id="imagemodal" class="modal-content" src="">
    </div>
{% endmacro %}

{% macro article_index(article) %}
    <a class="flex flex-col flex-wrap mb-0 overflow-hidden rounded lg:flex-row dark:bg-gray-700" href="#">
        <div class="relative w-full overflow-hidden lg:w-2/4 h-80">
            <img class="object-cover w-full h-full transition-all hover:scale-110"
                 src="https://i.postimg.cc/Y23w2gc1/pexels-ricardo-esquivel-1586298.jpg" alt="">
            <span class="absolute px-4 py-2 text-xs text-white bg-blue-500 rounded top-4 left-4">
                            {{ article.type }}
                        </span>
        </div>
        <div
                class=" w-full relative self-center flex-1 p-8 ml-0 bg-white border rounded shadow dark:border-gray-700 dark:bg-gray-700 lg:items-center lg:-ml-12">
                        <span class="block mb-2 text-xs font-semibold text-blue-700 uppercase dark:text-blue-300"> {{ article.annee }}
                        </span>
            <h2 class="mb-3 text-2xl font-bold leading-9 text-black dark:text-white">
                {{ article.titre }}
            </h2>
            <p class="text-sm leading-7 text-gray-400">
                {{ article.utitre }}
            </p>
        </div>
    </a>
{% endmacro %}
